body {
    background-image: url('./clouds.jpg');
    font-family: 'Red Rose', cursive;
    color: black;
}

/* .container{
    margin-left: 50px;
    margin-right: 50px;
} */

header {
    margin-bottom: 50px;
}

nav {
    background: transparent;
}

#logo {
    color: black;
}

.card {
    background: transparent;
    border-radius: 25px;
}

.city-btn {
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
}