body {
    background-image: url('./clouds.jpg');
    font-family: 'Red Rose', cursive;
    color: black;
    line-height: 150%;
}

.container {
    margin: 100px;
}

header {
    margin-bottom: 50px;
}

nav {
    background: transparent;
}

#logo {
    color: black;
}

.card {
    background: transparent;
    border-radius: 25px;
}

.card-content{
    margin: 15px;
}

.city-btn {
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
}

#today {
    border-radius: 50px;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.days {
    width: 200px;
}